body {
    font-family: Arial, sans-serif;
    background-color: #50cadd;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: rgba(0, 0, 0, 0.789);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    
}

input {
    width: calc(100% - 22px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

button {
    padding: 10px;
    border: none;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-bottom: 20px;
}

button:hover {
    background-color: #45a049;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f9f9f9;
    border-bottom: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

li:last-child {
    border-bottom: none;
}

li .edit, li .delete {
    cursor: pointer;
    background-color: #f4f4f4;
    border: none;
    padding: 5px;
    border-radius: 5px;
    margin-left: 5px;
}

li .edit:hover {
    background-color: #ffd700;
}

li .delete:hover {
    background-color: #ff6347;
}
